nav {
    ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        li {
            margin: 0 0.5rem;
        }
    }

    a {
        color: black;
    }
}